
  <h1>
    Contact : Luca Montaigut
  </h1>

<main class="container">
  <h2>Vous pouvez me contacter sur : </h2>
  <ul>
    <li><a href="mailto:@gmail.com">bidule@gmail.com</a></li> 
    <li> xx.xx.xx.xx.xx </li> 

  </ul>
</main>