
<main class="container my-5" style="margin-top : 20px;">
  <div class="card-deck">
    <div class="card text-center bg-light my-3 mx-3" style="border:none; text-align:right;">
      <img id="bibi" class="card-img-top rounded-circle" src="/images/DSC_0652.JPG" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Thibault Peres</h5>
        <p class="card-text">Developpeur débutant chez THP</p>
      </div>
    </div>
  </div>
</main>
<footer id="lazyrabbit">
  <div>
    <p>  (\(\</p>
    <p>  ( -.-)</p>
    <p>  o_(")(")</p>
  </div>  
</footer>